@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@layer base {
  html {
    font-family: 'ABeeZee', sans-serif;
    src: url('/fonts/ABeeZee-Regular.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    letter-spacing: 0.03em;
    background-color: #f8f8f7;
    @apply text-lightGrey;
  }

  @font-face {
    font-family: 'ABeeZee italic';
    src: url('/fonts/ABeeZee-Italic.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
  }

  .textGradient {
    background: linear-gradient(
      90deg,
      #fc6a88 0%,
      #f44a9e 33%,
      #cc72c0 67%,
      #9ca2e9 100%
    );
  }

  .absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
