@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@layer base {
  html {
    font-family: "ABeeZee", sans-serif;
    src: url("/assets/fonts/ABeeZee-Regular.woff2");
    font-display: swap;
    font-style: normal;
    letter-spacing: 0.03em;
    background-color: #f8f8f7;
    @apply text-lightGrey;
  }

  html,
  body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }

  @font-face {
    font-family: "ABeeZee italic";
    src: url("/assets/fonts/ABeeZee-Italic.woff2");
    font-display: swap;
  }

  .purpleGradient {
    background: linear-gradient(
      90deg,
      #fc6a88 0%,
      #f44a9e 30%,
      #cc72c0 60%,
      #99a5eb 100%
    );
  }

  .absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #decouvrir {
    animation: rotation 5s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
