@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.03em;
    @apply text-[#1A2341];
  }

  /* @font-face {
        font-family: 'SFNSRounded';
        src: url('/fonts/SFNSRounded.woff2') format('woff2');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    } */
}
